<aside class="sidebar">
  <div class="scrollbar-inner">
    <ul class="navigation">
      <li>
        <%= link_to root_path do %>
            <i class="zmdi zmdi-home"></i> Home
        <% end %>
      </li>
      <li>
        <%= link_to promotions_path do %>
            <i class="zmdi zmdi-balance"></i> Promotions
        <% end %>
      </li>
      <li>
        <%= link_to tracks_path do %>
            <i class="zmdi zmdi-pin"></i> Tracks
        <% end %>
      </li>
      <li>
        <%= link_to fixtures_path do %>
            <i class="zmdi zmdi-flag"></i> Fixtures
        <% end %>
      </li>
      <li>
        <%= link_to formulas_path do %>
            <i class="zmdi zmdi-car"></i> Formulas
        <% end %>
      </li>
    </ul>
  </div>
</aside>
