<div class="login">
  <div class="login__block active" id="l-login">
    <div class="login__block__header">
      <i class="zmdi zmdi-account-circle"></i>
      Sign in to RaceTracker
    </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group form-group--float form-group--centered">
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.label :email %>
    <i class="form-group__bar"></i>
  </div>

  <div class="form-group form-group--float form-group--centered">
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.label :password %>
    <i class="form-group__bar"></i>
  </div>

  <% if devise_mapping.rememberable? -%>
    <label class="custom-control custom-checkbox">
      <%= f.check_box :remember_me, class: 'custom-control-input' %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Remember me</span>
    </label>
  <% end %>
  <%= f.submit 'Log in', class: 'btn btn-success btn-block' %>
<% end %>
  <hr />
  <%= render 'devise/shared/links' %>
  </div>
</div>