<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-ma-theme="indigo">
<main class="main">
  <%= render 'layouts/application/header' %>
  <%= render 'layouts/application/left_bar' %>

  <section class="content">
    <header class="content__title">
      <h1><%= yield(:title) %></h1>
    </header>

    <%= yield %>

    <%= render 'layouts/application/footer' %>
  </section>
</main>

<!-- App functions and actions -->
</body>
</html>
